*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
nav{
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.nav-item{
    margin-left: 4rem;
}
.active-item{
    color: #FE5E35; 
}
nav :first-child{
    margin-left: 7rem;
}
.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{
    margin-top: 3rem;
    margin-left: 7rem;
}
div h3{
    font-family: 'Poppins' ,sans-serif;
    font-size: 36px;
}
div h3 img{
    height: 36px;
}
.left-section h1{
    font-family: 'Fredoka One', sans-serif;
    font-size: 4.3rem;
}
.sub-headlines{
    padding-left: 5rem;
    margin-top: 2rem;
}
.sub-headline img{
    height:24px ;
    background-color: #FE5E35;
    padding: 4px;
    border-radius: 12px;
    margin-right: 6px;
}
.sub-headlines h5{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
.text{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #a5a5a5;
}

.action-btn{
    font-family:'Poppins', sans-serif;
    font-size:1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #FE5E35;
    border-color: transparent;
    padding: 6px 20px;
    border-radius:1.4rem ;
    margin-top: 1rem;
}
.action-btns :last-child{
    margin-left: 2rem;
}

/* RIGHT SECTION */

.right-section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 8rem;
    align-items: center;
}
.headphone-div :last-child{
    height: 60vh;
}
.discount{
    position: absolute;
    top:14rem;
    z-index: 1;
    right: 18rem;
    width: 32%;
}
.discount-content{
    position: absolute;
    top:15.8rem;
    right: 19.5rem;
    z-index: 1;
    
}
.discount-content h1{
    font-family: 'Fredoka One', sans-serif;
    color: #ffffff;
    font-size: 30px;
}
.discount-content h4{
    font-family: 'Poppins' ,sans-serif;
    color: #ffffff;
    
}
/* DOTS */
.dots{
    display: flex;
    flex-direction: row;
}
.dot{
    background-color: #FE5E35;
    height: 20px;
    width: 20px;
    border-radius:10px;
}
.yellow-dot{
    background-color: #ffff00;
}
.tomato-dot{
    background-color: #FE5E35;
    margin-left: 26px;
    margin-right: 26px;
}
.black-dot{
    background-color: #1d1d1d;
}